
body {


}

header { 
    border-bottom: 5px solid grey;
    width: 100%;
    background-color: white;

}



.name { 
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    font-size: 24px;
    width: 150px;
    margin-left: 300px;
    position: relative;
}

.tags { 
    float: right;
    position: absolute;
    right: 0%;
    top:40px;
}

.about {
    float: left;
    padding: 10px;
    border-right: #777777;
    border-width: 5px;
}

.portfolio {
    float: left;
    padding: 10px;
    border-right: #777777;
    border-width: 5px;


}

.contact {
    float: left;
    padding: 10px;
}

.aboutme {
    width: 960px;
    margin-left: 300px;
}

footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #666666;
    color: white;
    width: 100%;
    text-align: center;
    border-top: 5px solid #4aaaa5; 
}